@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Encabezado Principal</h1>
        <h2>Encabezado agregado </h2>
        <p>TExto agregado como nueva funcionalidad </p>
    </div>

    <div class="text-center">
        <h1 class="display-4">Encabezado Principal</h1>
        <h2>Encabezado agregado </h2>
        <p>TExto agregado como nueva funcionalidad </p>
    </div>